@import "../../assets/styles/global_style.scss";

.cart_banner {
  height: 232px;
  width: 1160px;
  background-size: cover;
  background: url("../../assets/images/cartbanner.svg");
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart_navigation {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
  margin: 40px 0 0 100px;
}

.cart_title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
  margin: 0 0 0 100px;
}

.cart_total {
  width: 278px;
  display: flex;
  flex-direction: column;
}

.cart_content_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 16px 0 16px;
}

.cart_total {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #e8e9ea;
}

.cart_total_title {
  margin: 16px 0 0 16px;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
}

.cart_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.cart_button {
  background-color: #fcec41;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  border: none;
  width: 246px;
  height: 48px;
}

.cart_button_container {
  background-color: #ffffff;
  border-top: 1px solid #e8e9ea;
  width: 278px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_information_text {
  width: 244px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #454950;
}

.cart_information_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cart_information_img {
  height: 24px;
}

.cart_information {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart_product_container {
  display: flex;
  flex-direction: row;
  width: 866px;
  height: 208px;
  background-color: #ffffff;
  border: 1px solid #e8e9ea;
}

.cart_product_name_container {
  background-color: #ffffff;
  border-left: 1px solid #e8e9ea;
  width: 294px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 16px;
}

.cart_product_name {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.cart_product_description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 262px;
  height: 112px;
  justify-content: space-between;
}

.cart_prodcut_price {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #171b24;
}

.cart_button_count {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #d1d1d3;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #454950;
}

.cart_input_count {
  width: 166px;
  height: 46px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #d1d1d3;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  display: flex;
  text-align: center;
}

.cart_product_count_buttons {
  display: flex;
  flex-direction: row;
}

.cart_product_id_container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 294px;
  align-items: center;
  justify-content: space-between;
}

.cart_button_delete_product {
  background: #ffffff;
  border: 1px solid #d1d1d3;
  width: 262px;
  height: 48px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  margin-bottom: 16px;
}

.cart_product_id {
  overflow-wrap: break-word;
  margin-top: 16px;
  width: 262px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.section_cart_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.cart_product_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 140px 80px 140px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .section_cart {
    margin: 30px 79px 60px 79px;
  }

  .cart_banner {
    width: 100%;
  }

  .cart_navigation {
    margin: 40px 0 0 41px;
  }

  .cart_title {
    margin: 0 0 0 41px;
  }

  .section_cart_content {
    justify-content: center;
  }

  .cart_product_container {
    width: 572px;
  }

  .cart_product_image {
    width: 180px;
  }

  .cart_product_name_container {
    width: 212px;
  }

  .cart_product_description {
    width: 179px;
  }

  .cart_input_count {
    width: 84px;
  }

  .cart_product_id_container {
    width: 179px;
  }

  .cart_product_id {
    width: 163px;
  }

  .cart_button_delete_product {
    width: 163px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .section_cart {
    margin: 30px 98px 60px 98px;
  }

  .cart_banner {
    width: 100%;
  }

  .section_cart_content {
    flex-direction: column-reverse;
  }

  .cart_total_container {
    width: 572px;
    display: flex;
    gap: 16px;
    flex-direction: row;
  }

  .cart_information {
    width: 278px;
    margin: 0;
  }

  .cart_product_name_container {
    width: 212px;
    padding-left: 8px;
  }

  .cart_product_description {
    width: 100%;
  }

  .cart_input_count {
    width: 100px;
  }

  .cart_product_id_container {
    width: 179px;
  }

  .cart_product_id {
    width: 100%;
  }

  .cart_button_delete_product {
    width: 163px;
  }

  .cart_product_image {
    width: 200px;
  }

  .cart_product_container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section_cart {
    margin: 20px 22px 40px 22px;
    align-items: center;
  }

  .cart_banner {
    width: 100%;
  }

  .cart_navigation {
    margin: 20px 0 0 20px;
    font-size: 13px;
    line-height: 19px;
  }

  .cart_title {
    margin-left: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .section_cart_content {
    flex-direction: column-reverse;
  }

  .cart_product_container {
    flex-direction: column;
    height: 546px;
    width: 316px;
  }

  .cart_product_image {
    height: 212px;
    width: 316px;
  }

  .cart_product_name_container {
    width: 314px;
  }

  .cart_product_description {
    width: 283px;
  }

  .cart_input_count {
    width: 188px;
  }

  .cart_product_id_container {
    gap: 16px;
    width: 314px;
  }

  .cart_product_id {
    width: 284px;
  }

  .cart_button_delete_product {
    width: 284px;
  }

  .cart_total_container {
    flex-direction: column;
    width: 316px;
  }

  .section_cart_content {
    width: 316px;
  }

  .cart_total {
    width: 316px;
  }

  .cart_button_container {
    width: 315px;
  }

  .cart_information {
    width: 316px;
  }

  .cart_information_text {
    width: 282px;
  }
}
