@import "../../assets/styles/global_style.scss";

.refunds_banner {
  background: url("../../assets/images/refunds.svg") #f6f6f6;
  width: 100%;
  height: 312px;
}

.refunds_banner_navigation {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
}

.refunds_banner_title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
  margin: 0;
}

.refunds_banner_description {
  width: 520px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2f323a;
}

.refunds_banner_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 0 100px;
}

.refunds_types_container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.refunds_type {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.refunds_types_title {
  width: 376px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
  margin: 0;
}

.refunds_types_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
  width: 768px;
}

.refunds_container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 40px 140px 80px 140px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .refunds_container {
    margin: 30px 79px 60px 79px;
  }

  .refunds_banner {
    background-size: cover;
  }

  .refunds_banner_content {
    padding: 40px 0 0 40px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .refunds_container {
    margin: 30px 98px 60px 98px;
  }

  .refunds_banner_content {
    padding-left: 40px;
  }

  .refunds_types_container {
    gap: 20px;
  }

  .refunds_type {
    flex-direction: column;
  }

  .refunds_types_text {
    width: 100%;
  }

  .refunds_types_title {
    width: 100%;
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .refunds_container {
    margin: 20px 22px 40px 22px;
  }

  .refunds_types_container {
    gap: 40px;
  }

  .refunds_banner_content {
    padding: 10px 0 0 20px;
    width: 100%;
  }

  .refunds_banner {
    height: 236px;
  }

  .refunds_banner_navigation {
    width: 276px;
  }

  .refunds_banner_title {
    font-size: 26px;
    line-height: 34px;
    width: 276px;
  }

  .refunds_banner_description {
    font-size: 13px;
    line-height: 19px;
    width: 100%;
  }

  .refunds_types_title,
  .refunds_types_text {
    width: 316px;
  }

  .refunds_type {
    flex-direction: column;
  }

  .refunds_types_text,
  .refunds_types_title {
    width: 100%;
  }

  .refunds_types_text {
    font-size: 13px;
    line-height: 19px;
  }

  .refunds_types_title {
    font-size: 20px;
    line-height: 26px;
  }
}
