@import "../../assets/styles/global_style.scss";

.refunds_banner {
  margin-left: 40px;
  background: url("../../assets/images/refunds.svg") #f6f6f6;
  width: 1360px;
  height: 312px;
}

.refunds_banner_navigation {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
}

.refunds_banner_title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
  margin: 0;
}

.refunds_banner_description {
  width: 520px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2f323a;
}

.refunds_banner_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 0 100px;
}

.refunds_types_container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-left: 140px;
}

.refunds_type {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.refunds_types_title {
  width: 376px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
  margin: 0;
}

.refunds_types_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
  width: 768px;
}

.refunds_container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .refunds_banner {
    width: 866px;
    background-size: cover;
    margin: 0 79px;
  }

  .refunds_types_container {
    margin: 0 79px;
  }

  .refunds_banner_content {
    padding: 40px 0 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .refunds_banner {
    margin: 0 98px;
    width: 572px;
  }

  .refunds_types_container {
    margin: 0 98px;
    gap: 20px;
  }

  .refunds_type {
    flex-direction: column;
  }

  .refunds_types_text {
    width: 572px;
  }

  .refunds_types_title {
    width: 572px;
    font-size: 26px;
    line-height: 34px;
  }
}
