@import "../../assets/styles/global_style.scss";

.catalog_banner {
  background: url("../../assets/images/catalogbanner.svg");
  width: 100%;
  background-size: cover;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog_category_text:hover{
  cursor: pointer;
}

.catalog_navigation {
  margin: 40px 0 0 100px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
}

.catalog_title {
  margin: 0 0 0 100px;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
}

.spin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-top: 80px;
}

.ant-spin-dot-item {
  background-color: #fbe303 !important;
}

.ant-spin-text {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fbe303 !important;
}

.catalog_cart_container {
  margin-top: 80px;
  width: 278px;
  height: 476px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog_image_container {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #f6f6f6;
}

.catalog_category_image {
  width: 180px;
}

.catalog_cart_container:nth-last-child(2)
  > .catalog_image_container
  > .catalog_category_image {
  width: 98px !important;
}

.catalog_category_title {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2f323a;
}

.catalog_category_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.catalog_categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catalog_categories_container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.catalog_section {
  margin: 40px 140px 80px 140px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .catalog_section {
    margin: 30px 79px 60px 79px;
  }

  .catalog_navigation {
    margin: 40px 0 0 40px;
  }

  .catalog_title {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .catalog_section {
    margin: 30px 98px 50px 98px;
  }
}

@media screen and (max-width: 767px) {
  .catalog_section {
    margin: 20px 22px 40px 22px;
  }

  .catalog_banner {
    margin: 0;
    height: 191px;
  }

  .catalog_navigation {
    margin: 20px 0 0 20px;
    font-size: 13px;
    line-height: 19px;
  }

  .catalog_title {
    margin-left: 20px;
    font-size: 26px;
    line-height: 34px;
  }

  .catalog_cart_container {
    margin-top: 40px;
  }
}
