@import "../../assets/styles/global_style.scss";

.profile_title {
  margin: 0;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
}

.profile_container_title {
  margin: 0;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
}

.profile_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.medium_input {
  width: 340px;
  height: 48px;
  background: #f6f6f6;
  border: none;
  border-bottom: 1px solid #d1d1d3;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #8bbd92;
  text-indent: 16px;
}

.profile_user_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile_user_general_content,
.profile_user_additional_content,
.profile_user_email_content,
.profile_user_password_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profile_user_information_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile_user_savechanges {
  width: 143px;
  height: 48px;
  background: #fcec41;
  border: none;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
}

.large_input {
  width: 696px;
  height: 48px;
  background: #f6f6f6;
  border: none;
  border-bottom: 1px solid #d1d1d3;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #8bbd92;
  text-indent: 16px;
}

.profile_container_content {
  width: 768px;
  height: 604px;
  background: #ffffff;
  border: 1px solid #d1d1d3;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.profile_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 40px 0 80px 0;
}

.profile_title_container {
  width: 768px;
}

.profile_title_content {
  width: 696px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .profile_container {
    justify-content: center;
    width: 85%;
    margin: 30px 98px 59px 98px;
  }

  .profile_title_container {
    width: 568px;
  }

  .profile_container_content {
    width: 568px;
  }

  .profile_title_content {
    width: 500px;
  }

  .profile_user_information_container {
    width: 500px;
  }

  .profile_user_container,
  .medium_input {
    width: 242px;
  }

  .large_input {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .profile_container {
    margin: 20px 22px 40px 22px;
    width: 90%;
  }

  .profile_title {
    font-size: 26px;
    line-height: 34px;
  }

  .profile_container_title {
    font-size: 20px;
    line-height: 26px;
  }

  .profile_container_content {
    border: none;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  .profile_user_general_content {
    flex-direction: column;
  }

  .profile_user_additional_content {
    flex-direction: column;
  }

  .profile_user_password_content {
    flex-direction: column;
  }

  .medium_input,
  .large_input,
  .profile_user_savechanges,
  .profile_user_general_content,
  .profile_user_additional_content,
  .profile_user_password_content,
  .profile_user_email_content,
  .profile_user_button_content,
  .profile_container_title,
  .profile_title_content,
  .profile_title_container,
  .profile_user_information_container {
    width: 296px;
  }

  .profile_container_content {
    width: 296px;
  }
}
