@import "../../assets/styles/global_style.scss";

.popularBrands_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.brand_cart_image {
  width: 180px;
  height: 124px;
  object-fit: contain;
}

.header_brands {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title_brands {
  margin-left: 140px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
}

.all_brands_button {
  width: 174px;
  height: 48px;
  background: url("../../assets/images/arrow.svg") #ffffff;
  background-position: top 18px right 15px;
  background-size: 6px 12px;
  background-repeat: no-repeat;
  border: 1px solid #d1d1d3;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  margin-right: 140px;
}

.cart_brands_container {
  margin: 0 140px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .title_brands {
    margin-left: 79px;
  }

  .all_brands_button {
    margin-right: 79px;
  }

  .cart_brands_container {
    justify-content: center;
    margin: 0 79px;
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .title_brands {
    margin-left: 98px;
  }

  .all_brands_button {
    margin-right: 98px;
  }

  .cart_brands_container {
    justify-content: center;
    margin: 0 98px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .all_brands_button {
    display: none;
  }

  .title_brands {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 16px 22px;
  }

  .cart_brands_container {
    justify-content: center;
    margin: 0 22px;
    gap: 8px;
  }

  .brand_cart {
    width: 100px;
    height: 66px;
  }

  .brand_cart_image {
    width: 100px;
    height: 66px;
  }
}
