@import "../../assets/styles/global_style.scss";

.orders_banner {
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 1160px;
  gap: 20px;
  height: 232px;
  background: url("../../assets/images/ordersBanner.svg");
}

.orders_navigations {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
  margin: 40px 0 0 100px;
}

.orders_banner_title {
  margin: 0 0 0 100px;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
}

.order {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #e8e9ea;
}

.order_image {
  width: 180px;
  height: 134px;
}

.orders_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 140px 80px 140px;
}

.order_description {
  display: flex;
  flex-direction: column;
  width: 588px;
  height: 118px;
  background-color: #ffffff;
  border-left: 1px solid #e8e9ea;
  gap: 12px;
  padding-left: 16px;
  padding-top: 16px;
}

.order_name {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.order_price {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #171b24;
}

.order_count {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.order_date,
.order_status_title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2f323a;
}

.order_id,
.order_status_result {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2f323a;
}

.order_status_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background: #ffffff;
  border-left: 1px solid #e8e9ea;
  padding-left: 16px;
  padding-top: 16px;
}

.order_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 180px;
}

.order_status_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 164px;
}

.orders_content_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .orders_section{
    margin: 30px 79px 60px 79px;
  }

  .orders_banner{
    width: 100%;
  }

  .orders_navigations {
    margin: 40px 0 0 41px;
  }

  .orders_banner_title {
    margin: 0 0 0 41px;
  }

  .order_description {
    width: 310px;
    gap: 1px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .orders_section{
    margin: 30px 98px 60px 98px;
  }
  
  .orders_banner {
    width: 100%
  }

  .order_image {
    width: 176px;
    display: flex;
    align-self: center;
  }

  .order_description {
    padding-right: 16px;
    width: 212px;
    height: auto;
  }

  .order_status_container {
    width: 179px;
    flex-direction: column;
    gap: 33px;
  }
}

@media screen and (max-width: 767px) {
  .orders_section{
    margin: 20px 22px 40px 22px;
  }
  
  .orders_banner {
    width: 100%;
  }

  .orders_navigations {
    margin: 20px 0 0 20px;
    font-size: 13px;
    line-height: 19px;
  }

  .orders_banner_title {
    margin-left: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .order {
    margin: 0 22px;
    flex-direction: column;
    width: 316px;
    height: 485px;
  }

  .order_image {
    width: 316px;
    height: 212px;
  }

  .order_description {
    width: 282px;
    border-top: 1px solid #e8e9ea;
    margin-bottom: 16px;
  }

  .order_status_container {
    width: 298px;
    border-top: 1px solid #e8e9ea;
    gap: 10px;
  }
}
