@import "../../assets/styles/global_style.scss";

.reviews_container {
  background-color: #f6f6f6;
  width: 100%;
  height: 593px;
}

.reviews_title {
  margin-left: 7%;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
}

.button_review {
  width: 52px;
  height: 52px;
  background: $white;
  border: 1px solid #d1d1d3;
}

.header_reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews_buttons {
  margin-right: 7%;
  display: flex;
  gap: 12px;
}

.react-multi-carousel-item {
  width: 376px !important;
  height: 365px !important;
}
.slide {
  width: 376px;
  height: 365px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.react-multi-carousel-track {
  display: flex;
  gap: 16px;
}

.react-multi-carousel-list {
  background-color: #f6f6f6;
}

.username_reviews_text {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2f323a;
}

.username_reviews_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.username_reviews_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.reviews_general {
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.username_reviews_comment {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
}

.reviews_date {
  padding-left: 24px;
  padding-bottom: 24px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #8b8d92;
}

.react-multiple-carousel__arrow {
  display: none;
}
