@import "../../assets/styles/global_style.scss";

.popularCategories_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cart_categories:hover, .all_categories_button:hover{
  cursor: pointer;
}

.header_categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title_categories {
  margin-left: 140px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #2f323a;
}

.all_categories_button {
  width: 198px;
  height: 48px;
  background: url("../../assets/images/arrow.svg") #ffffff;
  background-position: top 18px right 15px;
  background-size: 6px 12px;
  background-repeat: no-repeat;
  border: 1px solid #d1d1d3;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  margin-right: 140px;
}

.cart_categories {
  width: 180px;
  height: 180px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart_categories_name {
  text-align: center;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.cart_categories_container {
  justify-content: center;
  margin: 0 140px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .title_categories {
    margin-left: 79px;
  }

  .all_categories_button {
    margin-right: 79px;
  }

  .cart_categories_container {
    justify-content: center;
    margin: 0 79px;
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .title_categories {
    margin-left: 98px;
    font-size: 26px;
    line-height: 34px;
  }

  .all_categories_button {
    margin-right: 98px;
    width: 196px;
  }

  .cart_categories_container {
    justify-content: center;
    margin: 0 98px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .all_categories_button {
    display: none;
  }

  .title_categories {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 16px 22px;
  }

  .cart_categories_container {
    justify-content: center;
    margin: 0 22px;
  }

  .cart_categories {
    width: 148px;
    height: 148px;
  }

  .cart_categories_iamge {
    height: 106px;
  }

  .cart_image {
    height: 106px;
  }

  .cart_categories_name {
    font-size: 15px;
  }
}
