@import "../../assets/styles/global_style.scss";

.product_section_navigation {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
}

.product_general_image {
  width: 572px;
  height: 428px;
}

.product_general_description_name {
  width: 540px;
  margin: 0;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #171b24;
}

.product_availability {
  width: 540px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #3baa35;
}

.product_general_description_price {
  width: 540px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #171b24;
}

.product_general_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #e8e9ea;
}

.product_general_description {
  display: flex;
  flex-direction: column;
  width: 588px;
  gap: 12px;
  justify-content: center;
  border-left: 1px solid #e8e9ea;
  align-items: center;
}

.product_provider {
  width: 540px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
  margin-top: 24px;
}

.product_delivery {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454950;
}

.product_delivery_section {
  width: 540px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
}

.product_buttons_section {
  width: 540px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.product_tocart {
  width: 246px;
  height: 48px;
  border: none;
  background-color: #fcec41;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
}

.product_count_button {
  width: 48px;
  height: 48px;
  border: 1px solid #d1d1d3;
  background-color: #ffffff;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #454950;
}

.prodcut_count_input {
  width: 48px;
  height: 46px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #d1d1d3;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
  display: flex;
  text-indent: 12px;
}

.product_count_section {
  display: flex;
  flex-direction: row;
}

.product_additional_description {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  border: 1px solid #e8e9ea;
  border-radius: 10px;
}

.product_additional_description_title {
  margin: 60px 0 0 0;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #171b24;
  width: 768px;
}

.product_additional_description_text {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f323a;
  width: 768px;
  margin: 0 0 60px 0;
}

.product_section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 140px 80px 140px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .product_section {
    margin: 30px 79px 60px 79px;
  }

  .product_general_image {
    width: 376px;
  }

  .product_general_description {
    width: 474px;
  }

  .product_general_description_name,
  .product_availability,
  .product_general_description_price,
  .product_delivery_section {
    width: 420px;
  }

  .product_buttons_section {
    width: 426px;
  }

  .product_provider {
    width: 424px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .product_section {
    margin: 30px 98px 50px 98px;
    align-items: center;
  }

  .product_general_container {
    width: 572px;
    flex-direction: column;
  }

  .product_general_image {
    width: 572px;
  }

  .product_general_description {
    width: 572px;
    padding: 24px 0;
    display: flex;
    border-top: 1px solid #d1d1d3;
  }
  .prodcut_count_input {
    width: 158px;
  }

  .product_buttons_section,
  .product_general_description_name,
  .product_availability,
  .product_general_description_price,
  .product_provider,
  .product_delivery_section {
    width: 520px;
  }

  .product_additional_description {
    width: 572px;
  }

  .product_additional_description_title,
  .product_additional_description_text {
    width: 465px;
  }

  .product_additional_description_title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .product_section {
    margin: 20px 22px 40px 22px;
    align-items: center;
  }

  .product_section_navigation {
    margin: 0 22px;
    font-size: 13px;
    line-height: 19px;
  }

  .product_general_container {
    flex-direction: column;
  }

  .product_general_image {
    width: 314px;
    height: 237px;
  }

  .product_general_description {
    width: 314px;
  }

  .product_general_description_name {
    width: 276px;
    font-size: 20px;
    line-height: 26px;
  }

  .product_availability {
    width: 276px;
  }

  .product_general_description_price {
    width: 276px;
  }

  .product_buttons_section {
    flex-direction: column-reverse;
    width: 276px;
  }

  .product_tocart {
    width: 276px;
  }

  .prodcut_count_input {
    width: 180px;
  }

  .product_provider,
  .product_delivery_section {
    width: 276px;
  }

  .product_delivery {
    font-size: 13px;
    line-height: 19px;
  }

  .product_additional_description {
    width: 316px;
  }

  .product_additional_description_title,
  .product_additional_description_text {
    width: 276px;
  }

  .product_additional_description_title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .product_additional_description_text {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}
