@import "../../assets/styles/global_style.scss";

.footer_section {
  display: flex;
  width: 100%;
  background-color: #2f323a;
  flex-direction: column;
  gap: 16px;
}

.footer_text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e8e9ea;
}

.footer_mail {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer_location {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer_company {
  display: flex;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_logo {
  width: 180px;
  height: 46px;
}

.footer_navigation {
  display: flex;
  gap: 16px;
}
.footer_column {
  display: flex;
  flex-direction: column;
  width: 278px;
  gap: 12px;
}

.footer_nav_container {
  display: flex;
  gap: 114px;
  margin: 40px 140px 24px 140px;
  justify-content: space-between;
}

.footer_payments {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.footer_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
}

.footer_divide_line {
  width: 1160px;
}

.footer_tablet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .footer_column {
    width: 175px;
  }

  .footer_divide_line {
    width: 866px;
  }

  .footer_info {
    margin: 0 79px;
  }

  .footer_section {
    height: auto;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer_nav_container {
    flex-direction: column;
    gap: 40px;
  }

  .footer_contacts {
    display: flex;
    flex-direction: row;
    gap: 114px;
  }

  .footer_info {
    margin: 0 40px;
  }

  .footer_divide_line {
    width: 99%;
  }
}

@media screen and (max-width: 767px) {
  .footer_contacts {
    flex-direction: column;
    gap: 20px;
  }

  .footer_company {
    margin-left: 22px;
  }

  .footer_navigation {
    margin: 0 22px;
    flex-wrap: wrap;
  }

  .footer_column {
    width: 148px;
  }

  .footer_info {
    flex-direction: column;
    gap: 10px;
  }

  .footer_divide_line {
    width: 99%;
  }

  .footer_nav_container {
    margin: 30px 22px 0 22px;
    flex-direction: column;
    gap: 40px;
  }
}
