$darkYellow: #fbe303;
$lightYellow: #fdf074;
$black: #171b24;
$darkGrey: #2f323a;
$white: #ffffff;
$lightGrey: #f3f3f4;
$font: "Manrope";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}
