@import "../../assets/styles/global_style.scss";

.hOQiSy {
  height: 420px !important;
  justify-content: flex-end;
  width: 100% !important;
}

.epKbGN {
  justify-content: flex-end !important;
  gap: 12px !important;
  width: 30% !important;
  top: auto;
  padding: 0 !important;
  width: auto !important;
  margin-right: 40px;
}

.slider_image {
  object-fit: cover;
}

.container_image {
  height: 420px;
  width: 95vw;
}

.slider_container {
  display: block;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

[data-testid="indicatorContainer"] {
  display: none !important;
}

button[aria-label="backButton"],
button[aria-label="forwardButton"] {
  background-color: #ffffff;
  border-radius: 0%;
}

.hOQiSy {
  display: flex;
}
.epKbGN {
  top: auto !important;
  margin-top: 332px;
}

.slider_container_text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
  height: 340px;
  justify-content: space-between;
}

.slider_title_description {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #454950;
  width: max-content;
}

.slider_title {
  margin: 0;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
}

.slider_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider_button_more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 147px;
  background-color: #fcec41;
  border: none;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #171b24;
}

.split_line {
  display: none;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .epKbGN {
    margin-top: 330px;
    padding: 0 !important;
  }
  .slider_container {
    display: block;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .slider_container {
    padding: 30px 98px 0 98px;
  }

  .container_image {
    height: 360px;
  }

  .hOQiSy {
    height: 360px !important;
  }

  .epKbGN {
    margin-top: 272px;
  }

  .slider_image {
    width: auto;
    height: 360px;
  }

  .slider_container_text {
    height: 280px;
    margin-top: 40px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hOQiSy {
    height: 360px !important;
    width: 100% !important;
  }

  .slider_container {
    padding: 30px 22px 0 22px;
  }

  .epKbGN {
    margin-top: 272px;
  }

  .slider_container_text {
    height: 280px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .slider_title {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
  }

  .slider_title_description {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}
